@charset "UTF-8";

p{
	text-align: justify;
	text-indent: 30px;
	margin: 0px 20px;
}

body{
		background-color: #f7fffe;

	}

div#teste p{
	text-align: justify;
	font-family: arial;
	margin: 40px 220px 40px 20px;
	padding: 30px ;
	background-color: #dddddd;
}	



img{
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
	width: 300px;
	transition: 0.5s;
}

img:hover{
	width: 400px;
	transition: 1s;
}

nav#menu ul{
			list-style: none;	
			text-transform: uppercase;
			position: absolute;
			top: -10px;
			left: 220px;
			
		}


nav#menu{
	display: block;
}


nav#menu li{
	display: inline-block;
	margin: 5px;
	
}

nav#menu a{
	font-family: 'Menu' sans-serif;
	
	padding: 5px;
	margin: 3px;
	color: #000000;
	text-decoration: none;
	transition: 0.5s;


}		


nav#menu a:hover{
	background-color: #212121;
	transition: 1s;
	color: #ffffff;

}

#inter{
	box-shadow: 1px 1px 8px black;
	background-color: #8fe1ff;
	
}

footer {
	padding: 20px 0;
}


footer.container {
	position: relative;
}
#rodape {
	width: 50px;
}

.social img{
width: 40px;
margin-bottom: 40px;
box-shadow: none;
border: none;
}

.social li {
float: left;
margin-left: 25px;
display: inline;
}

.social img:hover{
	width: 45px;
}