@charset "UTF-8";

h2{
	margin: 0px 20px;
}

body{

		background-color: #f7fffe;

	}	
		p{
			text-align: justify;
			text-indent: 50px;

		}


figure.foto img{
	margin-left:300px;
	width: 400px;
	transition: 0.5s;

}

figure.foto img:hover{
	width: 600px;
	transition: 1s;
}

figure.foto2 img{
	width: 500px;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
	transition: 0.5s;

}

figure.foto2 img:hover{
	width: 700px;
	transition: 1s;
}


nav#menu ul{
			list-style: none;	
			text-transform: uppercase;
			position: absolute;
			top: -10px;
			left: 220px;
			
		}
nav#menu{
	display: block;
}


nav#menu li{
	display: inline-block;
	margin: 5px;
}

nav#menu a{
	font-family: 'Menu' sans-serif;
	padding: 5px;
	margin: 3px;
	color: #000000;
	text-decoration: none;


}		


nav#menu a:hover{
	background-color: #212121;
	transition: 1s;
	color: #ffffff;

}

#inter{
	box-shadow: 1px 1px 8px black;
	background-color: #8fe1ff;
	
}

footer {
	padding: 20px 0;
}


footer.container {
	position: relative;
}
#rodape {
	width: 50px;
}

.social img{
width: 40px;
margin-bottom: 40px;
transition: 1s;
border: none;
box-shadow: none;
}

.social li {
float: left;
margin-left: 25px;
display: inline;
}

.social img:hover{
	width: 45px;
	transition: 1s;
}
